<div class="box">
  <section class="has-text-centered">
    <h2 class="subtitle is-2">
      Log in
    </h2>
  </section>

  <hr class="my-2">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>

      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password %>

      <div class="control">
        <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="control">
          <%= f.check_box :remember_me, class: 'checkbox' %>
          <%= f.label :remember_me, class: 'checkbox' %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'button is-primary' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>